@model Exception

@{
    ViewBag.Title = "Ad Data Application Error Page";
}

<h2>ErrorPage</h2>

<header class="error">There was error executing the request.</header>

<h3>@Model.Message</h3>
<section>@Model.StackTrace</section>


@section scripts{
}
